
	<% stylesheet_link_tag "radioplayer.css" %>



<div class="audio-player">
    <h1>Demo - Preview Song</h1>
    
    <%= image_tag "cover.png" , class: "cover" %>
    <audio id="audio-player" src="http://208.77.21.33:12310/;" type="audio/mp3" controls="controls"></audio>
</div>


