
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<% javascript_include_tag "jquery.shoutcast.easy.min.js"%>
</head>
<body>

<div class="audio-player">
    <audio id="audio-player" src="http://202.88.237.208:8000/;" type="audio/mp3" controls="controls"></audio>
</div>

Title:<div id="songtitle"></div>
Status:<div id="status"></div>
currentlisteners:<div id="currentlisteners"></div>


<script type="text/javascript">

</script>
</body>
</html>






