<p id="notice"><%= notice %></p>
<div class="container">
<div class="row">
   <div class="col-md-12">
     <% @videos.each do |video| %>
          <td><%= link_to image_tag(video.video_url(:thumb)), video_path(video)%></td>
    <% end %>
  </div>
</div>

<div class="row">
<div class="video-player">
  <%= render "shared/video" %>
  </div>
</div>
</div>


 <div class="row">
   <div class="col-md-12">
     <% @videos.each do |video| %>
          <td><%= link_to image_tag(video.video_url(:thumb)), video_path(video)%></td>
    <% end %>
  </div>
  </div>
</div>
