
  


<div class="row" style="border:solid 1px">
  <center><h3>Prayer requests</h3></center>
  <div class="col-md-2">
  	<p><%= link_to 'Send A Prayer Request', new_contact_path(contact_type: 1) %></p>
  </div>
  <div class="col-md-10">
    <% @prayerreq.each do |contact| %>
      <div class="list_contact">
      	<p> <%= contact.name %></p>
      	<center> <%= contact.message %></center>
      	<div align="right"> <%= contact.email %></div>
      </div>
    <% end %>
  </div>
</div>
