<div class="btn-group">
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
              <%if Bible.count!=0%>
              <%= @bibles.first.name%>
              <%end%>
               <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
              <ul class="dropdown-menu" role="menu">
                 <%#= form_tag(bibles_path, method:  "get", id: "search-form") do %>
                   <%#= text_field_tag :search, params[:search], placeholder: "Search bibles" %>
                    <%#= submit_tag "Search", :name => nil %>
                 <%# end %>
                <li>

        <%if @bibles.count!=0 %>          
        <% @bibles.each do |bible| %>
        <%unless bible.chapters.count== 0%>
          <% @first_chapter = bible.chapters.first %>
          
          <li><%=link_to bible.name,category_bible_chapter_path(params[:category_id],bible,@first_chapter)%></li>
          <%else%>
                <li><%#=link_to bible.name, category_bible_chapters_path(:category_id,bible,@first_chapter)%>                
        <%end%>
        <%end%>
        <%else%>
            Nothing found                       
        <%end%>
                     
                    
                </li>   
              </ul>
          </div>
      </div>  



