<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
      <div class="row">
        <div class="col-md-8 chapter"> 
          <h1>bibles</h1>          
            <table>            
              <tbody>
                <% @bibles.in_groups_of(3, false) do |row_bible| %>                                    
                      <tr>                      
                          <% for bible in row_bible %>
                            <% if bible.root?%>                                            
                                <td>&nbsp;<%= link_to bible.name,bible%>&nbsp;</td>                                                                   
                            <% end %>
                          <% end %>
                      </tr>
                <% end %>
              </tbody>
            </table>        
        </div>
        <div class="col-md-4">
        <h4>Chapters of <%= @bible.name%></h4>
          


          <%#= render 'bibles/recoment'%>
          <%= render 'bibles/show'%>

        </div>
      </div>
    </div>    
    <div class="col-md-2" >      
    </div>
</div>