<%= render 'chapter'%>
<div class="row">
  <div class="col-md-2 bible">    
  </div>
  <div class="col-md-1 ">
  </div>
  <div class="col-md-6 book">
  	<%= image_tag "header-shell.png", class: "img-responsive" %>
  </div>
  <div class="col-md-1 ">
  </div>
  <div class="col-md-2 bible"> 
  </div>
</div>
