// Place all the styles related to the DailyBreads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.actions {
  display: inline;
 margin-top:270px;
}
#field {
	margin-left:100px;
    opacity:0;
  	display: inline;
  	float: right;

 	 position: relative;
 	 left: -30%; /* or right 50% */
 		
}

.bread_header
{
	color: #F1C62D;
}

.image {
  margin-top:200px;
}
