// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#owl-demo1 .item img{
    display: block;
    width: 100%;
    height: auto;
}
#owl-demo .item{
  margin: 3px;

}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
  
}
.carousel {
    height: 100%;
    width: 100%;
   
}
.carousel .item {
    width: 100%;
    height: 300px;
    background-color: #FFE2AA;
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 300px;
}
@media (min-width: 768px) {
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }
}
img {
    background: red;
}
.carousel-caption {
    z-index: 10;
}


.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
  filter: alpha(opacity=50);
  opacity: .5;
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slide {

  float: left;
  overflow: auto;

}

.owl-theme .owl-controls .owl-nav [class*=owl-] {
color: #fff;
font-size: 14px;
margin: 5px;
padding: 4px 7px;
background: #d6d6d6;
display: inline-block;
cursor: pointer;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

.owl-theme .owl-dots .owl-dot {
display: inline-block;
zoom: 1;
}

.carousel-inner .active.left { left: -25%; }
.carousel-inner .next        { left:  25%; }
.carousel-control.left,.carousel-control.right {background-image:none;}



